<template name="GuideFundraising">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> GuideFundraisingFundraising}}
	</div>
</template>

<template name="GuideFundraisingFundraising">
	{{#markdown}}# Fundraising

Some important things to know about fundraising:

0. This is the easiest process
1. Don't fundraise if you don't have to [2] [5] [11]
2. When you are in fundraising mode, it should be one founder's full time job [1] [5]

## What do VCs look for

See [vc]({{pathFor 'guide.vc'}})

## What should you look for in a VC 

See [vc]({{pathFor 'guide.vc'}})

## Tactics

1. Scheduling investor meetings see [investor meetings]({{pathFor 'guide.investorMeetings'}})
2. Series A see [series A]({{pathFor 'guide.seriesA'}})
3. Others tactics check out [vc]({{pathFor 'guide.vc'}})


## Footnotes

[1] {{qt 'Paul Graham' 75}}

[2] {{qt 'Paul Graham' 82}}

[3] {{qt 'Michael Seibel' 5}}

[4] {{qt 'Michael Seibel' 6}}

[5] {{qt 'Michael Seibel' 11}}
{{/markdown}}
</template>

