<template name="GuideInvestorMeetings">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> GuideInvestorMeetingsInvestorMeetings}}
	</div>
</template>

<template name="GuideInvestorMeetingsInvestorMeetings">
	{{#markdown}}# Investor Meetings 

Steps:

1. Warm intro from founder or investor [3]
	1. Don't let a 'no saying' investor intro you [2]
2. Schedule all your investor meetings the same week [1]
	1. Say working like crazy can we meet in two weeks [4]

## Footnotes

[1] {{qt 'Michael Seibel' 9}}

[2] {{qt 'Michael Seibel' 8}}

[3] {{qt 'Michael Seibel' 7}}

[4] {{qt 'Michael Seibel' 10}}
{{/markdown}}
</template>

