<template name="GuidePhilosophy">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> GuidePhilosophyPhilosophy}}
	</div>
</template>

<template name="GuidePhilosophyPhilosophy">
	{{#markdown}}# Philosophy

No real organizing principle here, just a dump of ideas

{{qt 'Sam Altman' 71}}

{{qt 'Ben Chestnut' 8}}

{{qt 'Paul Graham' 14}}

{{qt 'Paul Graham' 26}}

{{qt 'Paul Graham' 30}}

{{qt 'Kevin Hale' 6}}

{{qt 'Steve Jobs' 1}}{{/markdown}}
</template>

