<template name="GuideLateStage">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> GuideLateStageLateStage}}
	</div>
</template>

<template name="GuideLateStageLateStage">
	{{#markdown}}# Late Stage

## Before Late Stage

Make sure to write your culture down [3]

Be direct with early employees and career growth. [10]

## Compensation

Formalize your compensation. [4] But still be prepared to give out 4% equity a year. [5] Always be in front of people's vesting schedules. [6]

## Management

Once you hit 30 people, make a clear reporting structure. [1]

1. Don't be afraid to hire senior people
2. Hero Mode
3. Bad delegation
4. Personal organization [2]

## Employees

1. Keep in mind new HR rules. [7] 
2. Monitor your team for burnout. [8] 
3. Have some diversity on the team. [9]

## IP

About 11 months after you launch, get provisional patents [11]

## Taxes

After things start working think about taxes [12]


## Footnotes

[1] {{qt 'Sam Altman' 73}}

[2] {{qt 'Sam Altman' 74}}

[3] {{qt 'Sam Altman' 75}}

[4] {{qt 'Sam Altman' 76}}

[5] {{qt 'Sam Altman' 77}}

[6] {{qt 'Sam Altman' 78}}

[7] {{qt 'Sam Altman' 79}}

[8] {{qt 'Sam Altman' 80}}

[9] {{qt 'Sam Altman' 83}}

[10] {{qt 'Sam Altman' 84}}

[11] {{qt 'Sam Altman' 87}}

[12] {{qt 'Sam Altman' 88}}{{/markdown}}
</template>

