<template name="GuideEmployees">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> GuideEmployeesEmployees}}
	</div>
</template>

<template name="GuideEmployeesEmployees">
	{{#markdown}}# Employees

## If looking to hire

See [hiring]({{pathFor 'guide.hiring'}})

Or skip directly to:

* [interviews]({{pathFor 'guide.interviews'}})
* [first hires]({{pathFor 'guide.firstHires'}})

## Compensation 

See either [compensation]({{pathFor 'guide.compensation'}}) or [equity]({{pathFor 'guide.equity'}})

## Management

See [management]({{pathFor 'guide.management'}}) or more specifically:

* [Promotion]({{pathFor 'guide.promotion'}})
* [Firing]({{pathFor 'guide.firing'}})
* [Employee Feedback]({{pathFor 'guide.employeeFeedback'}})
* [Legal Issues]({{pathFor 'guide.legal'}})
* [Late stage]({{pathFor 'guide.lateStage'}})

## Other Notes

It's important to have everybody in the same building [1]

Employees cost 15k per month [2]

Once the team is bigger offsites tend to be pretty useful [3]

## Footnotes

[1] {{qt 'Sam Altman' 48}}

[2] {{qt 'Sam Altman' 83}}

[3] {{qt 'Sam Altman' 86}}


{{/markdown}}
</template>

