<template name="GuidePitch">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> GuidePitchPitch}}
	</div>
</template>

<template name="GuidePitchPitch">
	{{#markdown}}# Pitch

Most important rule of pitching: making a better company is better than making a better pitch. [1] [6] [7]

The pitch is both important to investors and hires. [9]

Practice your pitch! [8]

You don't need a 30 min pitch just the two below [4]:

## Elevator Pitch

{{qt 'Michael Seibel' 2}}

1. The first sentence should include what your company does
2. Second sentence is how big the market is
3. Third is how much traction you have [2]

Linkedin's pitch deck [5]

## Two min pitch

1. Include a unique insight in 2 sentences
2. How do you make money
3. Team - include whether they have made investors money
	1. Don't talk about the awards you have won/PhDs
	2. Say how many founders and how many are technical
	3. Say how long you have known each other
	4. Say you are working full time 
	5. Say how you met
4. Say what you are raising
	1. Use the correct jargon [3]


## Footnotes 

[1] {{qt 'Parker Conrad' 1}}

[2] {{qt 'Michael Seibel' 3}}

[3] {{qt 'Michael Seibel' 4}}

[4] {{qt 'Michael Seibel' 1}}

[5] {{qt 'Reid Hoffman' 100}}

[6] {{qt 'Paul Graham' 72}}

[7] {{qt 'Paul Graham' 69}}

[8] {{qt 'Ron Conway' 3}}

[9] {{qt 'Patrick and John Collison' 7}}{{/markdown}}
</template>

