<template name="Guide">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="menu" class="col-sm-3 col-md-2">
				<h2>
				</h2>
				{{> GuideMenu}}
			</div>
			<div id="subcontent" class="col-sm-9 col-md-10">
				{{> yield region='GuideSubcontent'}}
			</div>
		</div>
	</div>
</template>

<template name="GuideMenu">
	<ul id="menu-items" class="">
		<li id="menu-item-simple" class="{{menuItemClass 'guide.introduction'}}">
			<a href="{{pathFor 'guide.introduction'}}">
				<span class="item-title">
					Introduction
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.founders'}}">
			<a href="{{pathFor 'guide.founders'}}">
				<span class="item-title">
					Founders
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.ceo'}}">
			<a href="{{pathFor 'guide.ceo'}}">
				<span class="item-title">
					CEO
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.preparation'}}">
			<a href="{{pathFor 'guide.preparation'}}">
				<span class="item-title">
					Preparation
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.ideas'}}">
			<a href="{{pathFor 'guide.ideas'}}">
				<span class="item-title">
					Ideas
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.idea_validation'}}">
			<a href="{{pathFor 'guide.idea_validation'}}">
				<span class="item-title">
					Idea Validation
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.build_products'}}">
			<a href="{{pathFor 'guide.build_products'}}">
				<span class="item-title">
					Build a Product
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.vision'}}">
			<a href="{{pathFor 'guide.vision'}}">
				<span class="item-title">
					Vision
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.culture'}}">
			<a href="{{pathFor 'guide.culture'}}">
				<span class="item-title">
					Culture
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.creativity'}}">
			<a href="{{pathFor 'guide.creativity'}}">
				<span class="item-title">
					Creativity
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.growth'}}">
			<a href="{{pathFor 'guide.growth'}}">
				<span class="item-title">
					Growth
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.metrics'}}">
			<a href="{{pathFor 'guide.metrics'}}">
				<span class="item-title">
					Metrics
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.employees'}}">
			<a href="{{pathFor 'guide.employees'}}">
				<span class="item-title">
					Employees
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.fundraising'}}">
			<a href="{{pathFor 'guide.fundraising'}}">
				<span class="item-title">
					Fundraising
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.pitch'}}">
			<a href="{{pathFor 'guide.pitch'}}">
				<span class="item-title">
					Pitch
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.late_stage'}}">
			<a href="{{pathFor 'guide.late_stage'}}">
				<span class="item-title">
					Late Stage
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.priorities'}}">
			<a href="{{pathFor 'guide.priorities'}}">
				<span class="item-title">
					Priorities
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.philosophy'}}">
			<a href="{{pathFor 'guide.philosophy'}}">
				<span class="item-title">
					Philosophy
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'guide.legal'}}">
			<a href="{{pathFor 'guide.legal'}}">
				<span class="item-title">
					Legal
				</span>
			</a>
		</li>
	</ul>
</template>

