<template name="GuideIdeas">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> GuideIdeasIdeas}}
	</div>
</template>

<template name="GuideIdeasIdeas">
	{{#markdown}}# Ideas

So there is a bit of a method to the madness of startup ideas [J]

{{qt 'Paul Graham' 22}}

But how do you come up with them? Well one of the best ways is to become somebody that is good at coming up with startup ideas [D]. See [here]({{pathFor 'guide.preparation'}}) for more info.

As a note on this current doc, most of the information comes from here:

{{qt 'Paul Graham' 25}}

## Philosophy of startup ideas

The philosophy of startup ideas is that they are not thought up, they are noticed:

{{qt 'Paul Graham' 31}}

## Don't think of startup ideas

{{qt 'Paul Graham' 12}}

The one definitely don't do is: don't try to think of startup ideas. [C] [E] [F] [H]. And this even goes for ideas that you really feel hit the nail on the head:

{{qt 'Paul Graham' 59}}

And finally this also applies to research as well

{{qt 'Paul Graham' 36}}

## Build for yourself

{{qt 'Paul Graham' 43}}

This will automatically make you an expert. If you don't do this, you need to make sure you have some expertise in the domain

{{qt 'Paul Graham' 42}}

## Have passion?

You should be passionate about the idea [G]:

{{qt 'Sam Altman' 1}}

This is not a universal opinion though. some believe that you should be a bit detached:

{{qt 'Brian Chestnut' 1}}

## Focus on Frustration

One overarching theme is to focus on frustrations. Even do this when doing a user interview:

{{qt 'Paul Graham' 45}}

## Competition

Don't worry about competition, it is a good sign [A] [B]:

{{qt 'Paul Graham' 39}}

## Big enough

{{qt 'Sam Altman' 2}}

And this has even more ramifications:

{{qt 'Patrick and John Collision' 1}}

But this is not universally true, for example in B2B:

{{qt 'Aaron Levie' 5}}

## Idea Hacks

There are some idea hacks that can work. So focusing on these domains will tend to yield even better ideas.

### Make toys

{{qt 'Paul Graham' 4}}

### Be on the cutting edge

{{qt 'Paul Graham' 30}}

One of the ways to have good ideas is be on the cutting edge of technology. [I]

{{qt 'Paul Graham' 63}}

Some people think this is the end all be all [K]:

{{qt 'Peter Thiel' 9}}

### Be at the intersection of domains

{{qt 'Paul Graham' 35}}

### Be near old industries or companies

{{qt 'Paul Graham' 58}}

And once you are there you want to:

{{qt 'Aaron Levie' 6}}

### Look for unsexy schleps

Things that are a schlep and or unsexy are typically overlooked, so pay particular attention to ideas that are unsexy or schlepy

{{qt 'Paul Graham' 40}}

# Footnotes

[A] {{qt 'Paul Graham' 38}}

[B] {{qt 'Paul Graham' 37}}

[C] {{qt 'Paul Graham' 23}}

[D] {{qt 'Paul Graham' 19}}

[E] {{qt 'Paul Graham' 21}}

[F] {{qt 'Paul Graham' 12}}

[G] {{qt 'Sam Altman' 98}}

[H] {{qt 'Ron Conway' 2}}

[I] {{qt 'Aaron Levie' 1}}

[J] {{qt 'Reid Hoffan' 1}}

[K] {{qt 'Peter Thiel' 13}}
{{/markdown}}
</template>

