<template name="GuideVision">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> GuideVisionVision}}
	</div>
</template>

<template name="GuideVisionVision">
	{{#markdown}}# Vision

Vision and Product Market Fit should be priority number 1 [1]

Vision is the direction of the company, it is how you organize large groups of individuals (along with a north star). [6] Thus everybody in the company should know the vision by heart. [2] And yes this means that you will repeat it a thousand times. [3]

Vision is persistence and will compete against data [4] [5]

## Footnotes

[1] {{qt 'Sam Altman' 38}}

[2] {{qt 'Sam Altman' 85}}

[3] {{qt 'Brian Chesky' 10}}

[4] {{qt 'Reid Hoffman' 4}}

[5] {{qt 'Reid Hoffman' 7}}

[6] {{qt 'Alex Schultz' 6}}


{{/markdown}}
</template>

